@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    /* overflow-x: hidden;  */
    
  } 

  body {
    min-height: 100vh;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;  
  }
  
  .app {
    width: 80%;
    margin: auto;
  }
  
  @keyframes fadeIn {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  /* In your main CSS file (e.g., App.css or a specific CSS file for CharacterComponent) */

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2; /* Make sure this is behind everything else */
}

.background {
  z-index: -1; /* Keep this above the video but behind other elements */
}

