:root {
  --pixel-size: 6;
}

body {
  margin: 0;
  overflow: hidden; 
}

.Character {
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  overflow: hidden; /* Changed to visible to show the character */
  position: relative;
  top: 50px;
  left: 200px;
}

.Character_spritesheet {
  animation: moveSpritesheet 1s steps(8) infinite;
  width: calc(200px * var(--pixel-size));
  position: absolute;
}

.Character_shadow {
  position: absolute;
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
}

.pixelart {
  image-rendering: pixelated;
}

.face-right {
 
}

.face-idle {
  
}

.face-left {
   
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

/* Background styling */
.background {
  position: fixed; 
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  background-image: 
    url('./parallax-background/junglepng/plx-5.png'), /* Backmost layer */
    url('./parallax-background/junglepng/plx-4.png'), /* Second layer */
    url('./parallax-background/junglepng/plx-3.png'), /* Third layer */
    url('./parallax-background/junglepng/plx-2.png'), /* Fourth layer */
    url('./parallax-background/junglepng/plx-1.png'); /* Front layer */
  background-size: fill;
  background-position: center;
  background-repeat: repeat-x;
  z-index: -1;
}

/* src/character.css */

/* Define animation for background movement */
.background.forward {
  animation: moveBackgroundForward 10s linear;
}

.background.reverse {
  animation: moveBackgroundReverse 10s linear;
}

@keyframes moveBackgroundForward {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 100% center;
  }
}

@keyframes moveBackgroundReverse {
  from {
    background-position: 100% center;
  }
  to {
    background-position: 0% center;
  }
}


.app-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.controls {
  position: absolute;
  bottom: 20px; /* Position controls at the bottom */
}

/* Second Character Styling */
.SecondCharacter {
  width: calc(48px * var(--pixel-size));
  height: calc(48px * var(--pixel-size));
  overflow: hidden;
  position: relative;
  right: -600px; /* Start off-screen */
  top: px; /* Adjust as needed */
  transition: transform 4s ease-in-out;
}

.SecondCharacter.enter {
  transform: translateX(-600px); /* Move into view */
}

.SecondCharacter_spritesheet {
  animation: moveSpritesheet 1s steps(4) infinite;
  width: 3000px;
  position: absolute;
}
