/* controls.css */
.controls {
    position: absolute;
    top: 450px; /* Position controls at the bottom */
  }
  
  .controls button {
    margin: 5px;
    padding: 10px 30px;
    font-size: 24px;
    cursor: pointer;
    background-color: #075930;
    color: white;
    border: solid;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .controls button:hover {
    background-color: #046e24;
  }
  
 p {
  color: rgb(255, 255, 255);
  padding: 2px;
  margin: 10px;
  text-align: center;
  font-size: 24px ;
 }