/* src/styles/mainMenu.css */

.main-menu {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.background-video-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.menu-content {
  position: relative;
  z-index: 1;
  /* overflow: hidden; */
}

.menu-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.menu-content button {
  background-color:#075930;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-content button:hover {
  background-color: #046e24;
}


.chat-box {
  /* Add any additional styles for chatbox placement here */
  position: absolute;
  bottom: 50px; /* Adjust as necessary */
  right: 20px; /* Adjust as necessary */
}
