/* secondCharacter.css */
.SecondCharacter {
    width: calc(48px * var(--pixel-size));
    height: calc(48px * var(--pixel-size));
    overflow: hidden;
    position: relative;
    right: -1100px;
    top: px;
    transition: transform 4s ease-in-out;
  }
  
  .SecondCharacter.enter {
    transform: translateX(-1100px);
  }
  
  .SecondCharacter_spritesheet {
    animation: moveSpritesheet 1s steps(4) infinite;
    width: 3000px;
    position: absolute;
  }
  